.fir{
    list-style: disc inside url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12L5 7L0 2L1 0L8 7L1 14L0 12Z' fill='%23EEEEEE'/%3E%3C/svg%3E%0A");
    text-align: left;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}
.fir>li{
    margin-top: 10px;
}